<strong>Olá {{ providerName }}</strong>
<p>Houve um cancelamento de horário</p>
<strong>Cliente {{ clientName }}</strong>
<strong>Data/Hora: {{ date }}</strong>
</br>
</br>
<small>O horário está novamente disponível.</small>
